<div class="overflow-x-auto">
    <div class="card flex-auto w-1">
      <table class="w-full shadow-lg">
        <thead>
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Nombre</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Url de Imagen</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha de Creación</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha de Modificación</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
            </tr>
        </thead>
        <tbody>
          <tr class="hover" style="background-color: darkgreen;" *ngFor="let biome of biomes()">
            <td class="px-6 py-4 whitespace-nowrap text-black">{{biome.name}}</td>
            <td class="px-6 py-4 whitespace-nowrap text-black">
              <img [src]="biome.image_url" alt="Imagen del Bioma" style="max-width: 100px; max-height: 100px;"/></td>
            <td class="px-6 py-4 whitespace-nowrap text-black">{{biome.created_at}}</td>
            <td class="px-6 py-4 whitespace-nowrap text-black">{{biome.updated_at}}</td>


            <td>
              <div class="dropdown dropdown-bottom">
                <label tabindex="0" class="btn btn-square m-1"><fa-icon [icon]="faEllipsis()"></fa-icon></label>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52" style="background-color:blueviolet;">
                  <li><a onclick="edit_biome.showModal()" (click)="setBiome(biome)">
                       <fa-icon [icon]="faPencil()" style="color: #e7eeea;"/> Editar
                    </a>    
                </li>
                  <li><a><fa-icon [icon]="faSkullCrossbones()" style="color: black;"/>Dar de Baja</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <shared-btn class="float-left" onclick="edit_biome.showModal()">Agregar Biome</shared-btn>
  </div>
  
  <dialog id="edit_biome" class="modal">
    <div class="modal-box">
      <biomes-form/>
    </div>
  </dialog>