<form [formGroup]="registerForm" (ngSubmit)="onRegsiter"  autocomplete="off">
  <div class="mb-4">
    <div class="form-control w-full mt-4">
      <label Name="label">Nombres</label>
      <input class="input input-bordered w-full" type="text" />
    </div>
    <div class="form-control w-full mt-4">
      <label Name="label">Apellidos</label>
      <input class="input input-bordered w-full" type="text" />
    </div>
    <div class="form-control w-full mt-4">
      <label Name="label">Correo Electrónico</label>
      <input 
      class="input input-bordered w-full" 
      type="text" 
      />
      <label class="label" *ngIf="registerForm.controls['email'].touched">
        <span 
        *ngIf="!registerForm.controls['email'].valid" 
        class="label-text-alt text-error">campo incorrecto</span>
      </label>
    </div>
    <div class="form-control w-full mt-4">
      <label Name="label">Contraseña</label>
      <div class="relative">
        <input
          class="input input-bordered w-full"
          [type]="showPassword() ? 'text' : 'password'"
        />
        <label class="label" *ngIf="registerForm.controls['password'].touched">
          <span 
          *ngIf="!registerForm.controls['password'].valid" 
          class="label-text-alt text-error">campo incorrecto</span>
        </label>
        <shared-eye-btn  />
      </div>
    </div>
    <div class="form-control w-full mt-4">
      <label Name="label">Repetir contraseña</label>
      <input class="input input-bordered w-full" type="password" />
    </div>
  </div>
  <shared-btn [type]="'submit'">Registrarse</shared-btn>
  <div class="text-center mt-4">
    ¿Ya tiene una cuenta?
    <span
      class="inline-block hover:text-primary hover:underline hover:cursor-pointer transition duration-200 pb-5"
      routerLink="/"
      >Entrar</span
    >
  </div>
</form>
